<h1> <%= @player_2.name %> has been attacked! By <%= @player_1.name %>! </h1>

<strong><%= @player_1.name %></strong> - HP:<%= @player_1.hp %> <br />
<strong><%= @player_2.name %></strong> - HP:<%= @player_2.hp %>