<h1> <%= @game.player_1.name %> has been attacked! By <%= @game.player_2.name %>! </h1>

<strong><%= @game.player_1.name %></strong> - HP:<%= @game.player_1.hp %> <br />
<strong><%= @game.player_2.name %></strong> - HP:<%= @game.player_2.hp %></br>


<strong><%= @game.current_turn.name %>'s turn</strong>
<form action="/attack">
  <input type="submit" value="Attack!">
</form>
